@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}
.app-container {
  border: 2px solid #455E89;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 350px;
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  font-family: 'Ubuntu', sans-serif;
}


