header {
  display: flex;
  margin: 0em 1em;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}

h1 {
  color: #A8DADC;
}

header button {
  font-weight:bold;
  border: none;
  border-radius: 4px;
  width: 6em;
  height: 3em;
  color: #FFF;
}

.about-resource {
  margin: 0em 1em; 
  color: #A8DADC;
}

.resources {
  color: #A8DADC;
  margin-bottom: 0.8em;
}

a:hover {
  color:#F1FAEE;
}